body {
}

Form#signUpForm {
  margin: 20px;
}

img#smallImage {
  width: 20px;
  margin-left: 10px;
  vertical-align: 0px;
}

Button#signUpVK {
  background-color: #5281B7;
  width: 100%;
}

Button#signUpDirectly {
  width: 100%;
}

div#loginContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div#navbar {
  padding-left: 20px;
  background-color: #F79000;
}

div#footer {
  position: absolute;
  bottom: 0px;
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  color: gray;
}
