body {
}

Form#loginForm {
  margin: 20px;
}

img#smallImage {
  width: 20px;
  margin-left: 10px;
  vertical-align: 0px;
}

Button#loginVK {
  background-color: #5281B7;
  margin-left: 5px;
  width: calc(50% - 5px);
}

Button#loginDirectly {
  margin-right: 5px;
  width: calc(50% - 5px);
}

div#signUpContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

div#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: #A65EFF;
}

div#footer {
  position: absolute;
  bottom: 0px;
  display: block;
  text-align: center;
  width: 100%;
  padding-bottom: 20px;
  color: gray;
}
